.button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border-style: solid;
  cursor: pointer;
  margin: 30px;
  padding: 15px;
  text-align: center;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-default);
  font-weight: 600;
}

.button__secondary--static {
  background-color: var(--white);
  border-color: var(--dark-red);
  color: var(--black);
}

.button__primary--static {
  background-color: var(--white);
  border-color: var(--light-blue);
  color: var(--black);
}

.button__secondary--hovered:hover {
  background-color: var(--dark-red);
  border-color: var(--dark-red);
  color: var(--black);
}

.button__primary--hovered:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--white);
}

.button__secondary--pressed:active {
  background-color: var(--dark-red-two);
  border-color: var(--dark-red);
}

.button__primary--pressed:active {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.button--disabled:disabled {
  cursor: default;
  opacity: 50%;
}
