.main {
  display: flex;
  justify-content: left;
  margin-left: 256px;
}

.main__text {
  margin-left: 256px;
  padding: 15% 0 35% 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-massive);
  font-weight: bolder;
  color: var(--white);
}
