.main {
  display: flex;
  justify-content: left;
}

.main__text {
  padding: 20% 0 30% 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-massive);
  font-weight: bolder;
  color: var(--white);
}
