:root{
  /* Colors */
  --black:            #000000;
  --white:            #FFFFFF;
  --light-grey:       #E6E6E6;
  --dark-grey:        #B3B3B3;
  --light-yellow:     #f8efb1;
  --dark-yellow:      #755e01;
  --light-blue:       #24afff;
  --dark-blue:        #248bff;
  --light-red:        #eec2c2;
  --dark-red:         #5c0303;
  --light-green:      #a2d4b9;
  --dark-green:       #034621;

  /* Fonts */
  --font-montserrat:    'Montserrat', sans-serif;
  
  --font-size-massive:  50px;
  --font-size-big:      20px;
  --font-size-default:  15px;
  --font-size-small:    13px;
}
